<div class="row" style="margin-top:10px">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="txtSearch" ng-model="vm.searchQuery"/>
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit" ng-click="vm.searchProducts()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-if="vm.loading" style="text-align:center; margin-top:10px;" id="loading" alt="Loading...">
        <img src="images/spark.jpg" id="loading-spinner"/>
    </div>
    <div class="col-md-12" ng-if="vm.noResultsFound" style="margin-top:20px">
        No results found for your search. Please try again.
    </div>
    <div class="col-md-12" ng-if="vm.error" style="margin-top:20px;">An error occured. Please try again.</div>
    <div class="col-md-12" ng-if="!vm.loading" style="margin-top:10px">
        <div ng-repeat="searchResult in vm.detailedSearchResults" class="media" >
            <div class="media-left">
                <a href="#!/detail/{{searchResult.itemId}}"><img class="media-object" src="{{searchResult.thumbnailImage}}"></a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a class="a-media" href="#!/detail/{{searchResult.itemId}}">{{searchResult.name}}</a></h4>
                <div>Price: {{searchResult.salePrice | currency}}</div>
                <div ng-bind-html="vm.renderHTML(searchResult.shortDescription)" style="max-height:100px;overflow-y:auto"></div>
            </div>
        </div>
    </div>

</div>
