<div><a href='http://www.walmart.com', target='_blank'><img src="" alt="Walmart"></a></div>
<h1>Products application</h1>
<div></div>
<div>
    <div>
        In product details
    </div>
    <!--
    <div>
        <span><input type="text" ng-model="vm.searchQuery"/></span>
        <span>
            <button id="btnSearch" ng-click="vm.searchProducts()">Search</button>
        </span>
    </div>
    <div class="div-space align-center">
        <div ng-repeat="searchResult in vm.detailedSearchResults" style="border: 1px solid darkgray">
            <span ng-click="detail">Name: {{searchResult.name}}</span>
            <span>Sale Price: {{searchResult.salePrice}}</span>
        </div>
    </div>
    -->
</div>
