/* app css stylesheet */

body{
  font-family: Myriad Pro;
  color: #444;
}

.header{
  background-color:#0879c9;
}

.header-Logo {
  background: url(images/specifications-logo3.jpg);
}

.div-space{
  margin-top:10px;
}
